/* Footer
============================================================
========================================================= */

footer { margin: 20px 0; font-size: em(12); }

a.gray5 {
    color: #3D3D3D;
    &:hover { color: #3D3D3D; }
}