/* Header
============================================================
========================================================= */
.wikitags-logo {
	max-height: 60px;
	margin: 0 auto 20px auto;
}

.logo {
	margin-top: 10px;
	width: 100px;
}